
.country-card {
  margin: 30px;
  box-shadow: 0 0 2px 2px rgb(255, 255, 255) !important;
}


.card-info {
  list-style-type: none !important;
  font-size: 13px;
}

.card-info p {
  margin: 8px 0px 0px 6px;
}


.card-btn { 
  color: rgb(48, 48, 48) !important;
  margin: 10px 0 !important;
  width: 100% !important; 
  left: 0 !important;
  border: none;
  background-color: #fff;
}

.view-icon {
  font-size: 30px !important;
}

.view-icon:hover {
    cursor: pointer;
    transform: scale(1.2);
    transition: all .4s ease-in-out 0s;
    -webkit-transform: all .4s ease-in-out 0s;
}


@media only screen and (max-width: 888px) {
    a {
      display: none;
    }
    .card-body {
      padding: 0.5em 1.2em;
    }
    .card-body .card-text {
      margin: 0;
    }
    .card img {
      width: 50%;
    }
  }
  @media only screen and (max-width: 1200px) {
    .card img {
      width: 40%;
    }
  }

  @media only screen and (max-width: 508px) {
    .country-card {
      margin: 30px;
      min-width: 300px !important;
      box-shadow: 0 0 2px 2px rgb(255, 255, 255) !important;
    }
  }
