@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap');

.region-select-btn {
  border: none;
  background-color: #ccc;
  margin-right: 12px;
  margin-top: 20px;
  color: rgb(3, 11, 119);
}


.region-select-btn:hover {
  color: rgb(235, 235, 235);
}


.go-back-btn {
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 3px;
}

.go-back-btn:hover {
  color: #fff;
  background-color: rgb(63, 63, 63);
}